<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">

        <div id="dismiss">
          <i class="fas fa-arrow-left"></i>
        </div>
        <div class="sidebar-header">
            <h3>MovieHub</h3>
        </div>

        <ul class="list-unstyled components">
            <p style="font-weight: 600;">DISCOVER</p>
            <li class="active">
                <a href="/popular">Popular</a>
            </li>
            <li class="">
                <a href="#">Upcoming</a>
            </li>
            <br>
            <p style="font-weight: 600;">GENRES</p>
            <li class="">
                <a href="#">Action</a>
            </li>
            <li>
                <a href="#">Adventure</a>
            </li>
            <li>
                <a href="#">Animation</a>
            </li>
            <li>
                <a href="#">Comedy</a>
            </li>
            <li>
                <a href="#">Family</a>
            </li>
        </ul>

    </nav>
</div>

<!-- DROPDOWN
 <li>
    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
    <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
            <a href="#">Page 1</a>
        </li>
        <li>
            <a href="#">Page 2</a>
        </li>
        <li>
            <a href="#">Page 3</a>
        </li>
    </ul>
</li> -->
